<!-- Sidebar -->
<aside id="sidebar" ng-controller="leftSideBarCtrl" app-metis-menu>
    <!-- Sidebar header -->
    <header class="sidebar-header">
        <h1>Admin</h1>
        <!--<a href="javascript:;" id="make-compact"><i class="fa fa-reorder"></i></a>
        <a href="javascript:;" id="hide-menu"><i class="fa fa-reorder"></i></a>-->
    </header>
    <!-- /Sidebar header -->
    <!-- Sidebar group -->
    <ul id="menu" class="sidebar-menu">
        <li app-left-menu>
            <a>
                <!--<i class="{{menu.icon}}"></i>-->
                <span class="sidebar-nav-item">UI</span>
                <span class="fa arrow pad5T"></span>
            </a>
            <ul>
                <li><a  ui-sref="ui.button">button</a></li>
                <li><a  ui-sref="ui.form-wizard">form Wizard</a></li>
                <li><a  ui-sref="ui.info-box" >info-box</a></li>
                <li><a  ui-sref="ui.carousel" >carousel</a></li>
                <li><a  ui-sref="ui.tooltips" >Tooltips</a></li>
                <li><a  ui-sref="ui.toastr" >toastr</a></li>
                <li><a  ui-sref="ui.sweet-alert" >sweet-alert</a></li>
                <li><a  ui-sref="ui.expandable">expandable</a></li>
                <li><a  ui-sref="ui.callout" >callout</a></li>
            </ul>
        </li>
        <li app-left-menu>
            <a>
                <span class="sidebar-nav-item">API</span>
                <span class="fa arrow pad5T"></span>
            </a>
            <ul>
                <li><a  ui-sref="api.api-list">API</a></li>
            </ul>
        </li>

    </ul>
    <!-- /Sidebar group -->
</aside>
<!-- /Sidebar -->