<!-- Header -->
<nav class="header-site">
    <div class="container-fluid" id="page-header">
        <!-- Page title and breadcrumb navigation -->
        <div class="page-title">
            <h4>
                <span>{{pageTitle}}</span>
            </h4>
            <!--<ol class="breadcrumb">
                <li><span class="fa fa-home"></span> <a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li><a href="#">Library</a></li>
            </ol>-->
           <ol class="breadcrumb">
                <li>
                    <span class="fa fa-home"></span> <a ui-sref="ui.blank">首页</a>
                </li>
                <li ng-repeat="link in links">
                    <a ui-sref="{{link.url}}">{{link.name}}</a>
                </li>
            </ol>
        </div>
        <!-- /Page title and breadcrumb navigation -->
        <!-- Header navigation / icons -->

        <!-- /Header navigation / icons -->
    </div>
</nav>
<!-- /Header -->