<!--row-->
<div class="row">
    <!--                   col-md-6-->
    <div class="col-md-offset-3 col-md-6">
        <!--                        *** Pop Overs ***-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Pop Overs
                        <span class="panel-options">
                            <a href="#" class="panel-refresh">
                                <i class="icon ti-reload"></i>
                            </a>
                            <a href="#" class="panel-minimize">
                                <i class="icon ti-angle-up"></i>
                            </a>
                            <a href="#" class="panel-close">
                                <i class="icon ti-close"></i>
                            </a>
                        </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="paneltype-heading">Default Pop Overs</div>
                <button type="button" class="btn btn-white btn-block" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on left
                </button>
                <br>
                <button type="button" class="btn btn-white btn-block" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on top
                </button>
                <br>
                <button type="button" class="btn btn-white btn-block" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on bottom
                </button>
                <br>
                <button type="button" class="btn btn-white btn-block" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on right
                </button>
                <br>
                <button type="button" class="btn btn-white btn-block" data-container="body" data-toggle="popover" data-trigger="click" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on click
                </button>
                <div class="paneltype-heading">Pop Overs With Colored Heading</div>
                <button type="button" class="btn btn-white btn-block" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Twitter Bootstrap Popover">
                    Popover on left
                </button>
                <br>
                <button type="button" class="btn btn-white btn-block" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Twitter Bootstrap Popover">
                    Popover on top
                </button>
                <br>
                <button type="button" class="btn btn-white btn-block" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Twitter Bootstrap Popover">
                    Popover on bottom
                </button>
                <br>
                <button type="button" class="btn btn-white btn-block" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Twitter Bootstrap Popover">
                    Popover on right
                </button>
                <br>
                <button type="button" class="btn btn-white btn-block" data-container="body" data-toggle="popover" data-trigger="click" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Twitter Bootstrap Popover">
                    Popover on click
                </button>
            </div>
        </div>
        <!--                        *** /Pop Overs ***-->
        <!-- /panel -->
    </div>
    <!--                    /col-md-6-->
</div>
<!-- /row -->
<!--row-->
<div class="row">
    <!--                   col-md-6-->
    <div class="col-md-offset-3 col-md-6">
        <!--                        *** Tooltips ***-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Tooltips
                        <span class="panel-options">
                            <a href="#" class="panel-refresh">
                                <i class="icon ti-reload"></i>
                            </a>
                            <a href="#" class="panel-minimize">
                                <i class="icon ti-angle-up"></i>
                            </a>
                            <a href="#" class="panel-close">
                                <i class="icon ti-close"></i>
                            </a>
                        </span>
                </h3>
            </div>
            <div class="panel-body tooltips">
                <div class="paneltype-heading">Default Tooltips</div>
                <a href="#" class="btn btn-white btn-block" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</a>
                <br>
                <a href="#" class="btn btn-white btn-block" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</a>
                <br>
                <a href="#" class="btn btn-white btn-block" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</a>
                <br>
                <a href="#" class="btn btn-white btn-block" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</a>
                <div class="paneltype-heading">Colored Tooltips</div>
                <a href="#" class="btn btn-white btn-block primary-tooltip" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</a>
                <br>
                <a href="#" class="btn btn-white btn-block red-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</a>
                <br>
                <a href="#" class="btn btn-white btn-block orange-tooltip" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</a>
                <br>
                <a href="#" class="btn btn-white btn-block green-tooltip" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</a>

            </div>
        </div>
        <!--                        *** /Tooltips ***-->
        <!-- /panel -->
    </div>
    <!--                    /col-md-6-->
</div>
<!-- /row -->

<script>
    $("a").tooltip();

    $("[data-toggle=popover]").popover();
</script>