<div class="row">
    <div class="col-md-12">
        <!--step-->
        <div id="wizard" class="swMain">
            <ul>
                <li>
                    <a href="javascript:;" class="done">
                        <div class="stepNumber">
                            1
                        </div>
                                <span class="stepDesc"> 提交订单
                                    <br/>
                                    <small>2014-07-01 08:30:15</small> </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="done">
                        <div class="stepNumber">
                            2
                        </div>
                                <span class="stepDesc"> 出库
                                    <br/>
                                    <small>2014-07-01 08:45:15</small> </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="selected">
                        <div class="stepNumber">
                            3
                        </div>
                                <span class="stepDesc"> 出库押运
                                    <br/>
                                    <small> 2014-07-01 08:49:15</small> </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="stepNumber">
                            4
                        </div>
                                <span class="stepDesc"> 客户签收
                                    <br/>
                                    <small> 2014-07-01 10:50:15</small> </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="stepNumber">
                            5
                        </div>
                                <span class="stepDesc"> 入库押运
                                    <br/>
                                    <small> 2014-07-01 14:58:45</small> </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="stepNumber">
                            6
                        </div>
                                <span class="stepDesc"> 入库
                                    <br/>
                                    <small> 2014-07-01 16:55:45</small> </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="stepNumber">
                            7
                        </div>
                                <span class="stepDesc"> 完成
                                    <br/>
                                    <small> 2014-07-01 16:58:45</small> </span>
                    </a>
                </li>
            </ul>

        </div>
        <!--.step-->
    </div>
</div>


<div class="row">
    <!--订单轨迹-->
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">Timeline
            </header>
            <div class="panel-body">
                <!--timeline-->
                <div class="panel-body timeline-block">
                    <!--Timeline-->
                    <div class="form-heading">
                        Timeline
                    </div>
                    <!--Timeline-->
                    <!--                               row-->
                    <div class="row">
                        <!--                                   col md 2-->
                        <div class="col-md-1 col-md-offset-3">
                            <div class="timeline-year">
                                mar-2015
                            </div>
                        </div>
                        <!--                                    /col md 2-->
                    </div>
                    <!--                                /row-->
                    <div class="time-bar"></div>
                    <!--                               row-->
                    <div class="row">
                        <!--                                   col md 2-->
                        <div class="col-md-2 col-md-offset-1">
                            <div class="timeline-date">
                                30-Mar-2015,
                                <br>Mon 11:30
                            </div>
                        </div>
                        <!--                                    /col md 2-->
                        <!--                                   col md 1-->
                        <div class="col-md-1">
                            <div class="timeline-icon bg-blue">
                                <i class="fa fa-volume-down"></i>
                            </div>
                        </div>
                        <!--                                    /col md 1-->
                        <!--                                   col md 6-->
                        <div class="col-md-6">
                            <div class="timeline-hover">
                                <div class="timeline-heading bg-blue">
                                    <div class="timeline-arrow arrow-blue"></div>
                                    Dwayne Smith
                                </div>
                                <div class="timeline-content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget magna sollicitudin
                                    neque congue fermentum ut et ligula. Nam
                                    <a href="#" class="green-link">vestibulum</a>, leo sed finibus convallis, arcu nisi
                                    sollicitudin augue, nec aliquam odio mauris vitae ligula. Quisque vitae
                                    <a href="#" class="green-link">sodales</a> sem.
                                </div>
                            </div>
                        </div>
                        <!--                                    /col md 6-->
                    </div>
                    <!--                                /row-->
                    <!--                               row-->
                    <div class="row">
                        <!--                                   col md 2-->
                        <div class="col-md-2 col-md-offset-1">
                            <div class="timeline-date">
                                29-Mar-2015,
                                <br>Sun 13:30
                            </div>
                        </div>
                        <!--                                    /col md 2-->
                        <!--                                   col md 1-->
                        <div class="col-md-1">
                            <div class="timeline-icon bg-green">
                                <i class="fa fa-volume-down"></i>
                            </div>
                        </div>
                        <!--                                    /col md 1-->
                        <!--                                   col md 6-->
                        <div class="col-md-6">
                            <div class="timeline-hover">
                                <div class="timeline-heading bg-green">
                                    <div class="timeline-arrow arrow-green"></div>
                                    Paul Walker
                                </div>
                                <div class="timeline-comment">
                                    Commented on your post: <span>“Awesome Job”</span>
                                </div>
                            </div>
                        </div>
                        <!--                                    /col md 6-->
                    </div>
                    <!--                                /row-->
                    <!--                               row-->
                    <div class="row">
                        <!--                                   col md 2-->
                        <div class="col-md-2 col-md-offset-1">
                            <div class="timeline-date">
                                14-Mar-2015,
                                <br>Sat 16:30
                            </div>
                        </div>
                        <!--                                    /col md 2-->
                        <!--                                   col md 1-->
                        <div class="col-md-1">
                            <div class="timeline-icon bg-red">
                                <i class="fa fa-volume-down"></i>
                            </div>
                        </div>
                        <!--                                    /col md 1-->
                        <!--                                   col md 6-->
                        <div class="col-md-6">
                            <div class="timeline-hover">
                                <div class="timeline-heading bg-red">
                                    <div class="timeline-arrow arrow-red"></div>
                                    Vin Diesel
                                </div>
                                <div class="timeline-comment">
                                    Tag <a href="#" class="green-link">Paul Walker</a> for <a href="#">Fast and Furious
                                    7</a> Collection.
                                </div>
                            </div>
                        </div>
                        <!--                                    /col md 6-->
                    </div>
                    <!--                                /row-->
                    <!--                               row-->
                    <div class="row">
                        <!--                                   col md 2-->
                        <div class="col-md-2 col-md-offset-1">
                            <div class="timeline-date">
                                03-Mar-2015,
                                <br>Tue 13:30
                            </div>
                        </div>
                        <!--                                    /col md 2-->
                        <!--                                   col md 1-->
                        <div class="col-md-1">
                            <div class="timeline-icon bg-orange">
                                <i class="fa fa-volume-down"></i>
                            </div>
                        </div>
                        <!--                                    /col md 1-->
                        <!--                                   col md 6-->
                        <div class="col-md-6">
                            <div class="timeline-hover">
                                <div class="timeline-heading bg-orange">
                                    <div class="timeline-arrow arrow-orange"></div>
                                    Paul Walker
                                </div>
                                <div class="timeline-comment">
                                    Commented on your post: <span>“Feeling Annoying”</span>
                                </div>
                            </div>
                        </div>
                        <!--                                    /col md 6-->
                    </div>
                    <!--                                /row-->
                    <!--                               row-->
                    <div class="row">
                        <!--                                   col md 2-->
                        <div class="col-md-1 col-md-offset-3">
                            <div class="timeline-year timeline-pad">
                                feb-2015
                            </div>
                        </div>
                        <!--                                    /col md 2-->
                    </div>
                    <!--                                /row-->
                    <div class="time-bar"></div>
                    <!--                               row-->
                    <div class="row">
                        <!--                                   col md 2-->
                        <div class="col-md-2 col-md-offset-1">
                            <div class="timeline-date">
                                28-Feb-2015,
                                <br>Sat 11:30
                            </div>
                        </div>
                        <!--                                    /col md 2-->
                        <!--                                   col md 1-->
                        <div class="col-md-1">
                            <div class="timeline-icon bg-blue">
                                <i class="fa fa-clock-o"></i>
                            </div>
                        </div>
                        <!--                                    /col md 1-->
                        <!--                                   col md 6-->
                        <div class="col-md-6">
                            <div class="timeline-hover">
                                <div class="timeline-heading bg-blue">
                                    <div class="timeline-arrow arrow-blue"></div>
                                    Dwayne Smith
                                </div>
                                <div class="timeline-content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget magna sollicitudin
                                    neque congue fermentum ut et ligula. Nam
                                    <a href="#" class="green-link">vestibulum</a>, leo sed finibus convallis, arcu nisi
                                    sollicitudin augue, nec aliquam odio mauris vitae ligula. Quisque vitae <a href="#">sodales</a>
                                    sem.
                                </div>
                            </div>
                        </div>
                        <!--                                    /col md 6-->
                    </div>
                    <!--                                /row-->
                </div>
            </div>
            <!--.timeline-->
        </div>
    </div>
</div>
<!--.订单轨迹-->
</div>