<!-- Sidebar -->
<aside id="sidebar">
    <!-- Sidebar header -->
    <header class="sidebar-header">
        <h1>Direwolves</h1>
        <!--<a href="javascript:;" id="make-compact"><i class="fa fa-reorder"></i></a>
        <a href="javascript:;" id="hide-menu"><i class="fa fa-reorder"></i></a>-->
    </header>
    <!-- /Sidebar header -->
    <!-- Sidebar group -->
    <ul id="menu" class="sidebar-menu">
        <li app-left-menu>
            <a>
                <span class="sidebar-nav-item">API</span>
                <span class="fa arrow pad5T"></span>
            </a>
            <ul>
                <li><a  ui-sref="common.dictionary-list">API</a></li>
            </ul>
        </li>

    </ul>
    <!-- /Sidebar group -->
    <!--sidebar-panel-->
    <div class="sidebar-panel">
        <a class="btn btn-link" target="_blank" href="monitoring">monitoring</a>
    </div>
    <!--.sidebar-panel-->
</aside>
<!-- /Sidebar -->