<!--row-->
<div class="row">
    <!--                   col-md-6-->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Buttons with Stroke
                        <span class="panel-options">
                            <a href="#" class="panel-refresh">
                                <i class="icon ti-reload"></i>
                            </a>
                            <a href="#" class="panel-minimize">
                                <i class="icon ti-angle-up"></i>
                            </a>
                            <a href="#" class="panel-close">
                                <i class="icon ti-close"></i>
                            </a>
                        </span>
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    <button class="btn btn-default">Default</button>
                    <button class="btn btn-primary">Primary</button>
                    <button class="btn btn-success">Success</button>
                    <button class="btn btn-warning">Warning</button>
                    <button class="btn btn-info">Info</button>
                    <button class="btn btn-danger">Danger</button>
                </p>

                <p>
                    <button class="btn btn-pink">Pink</button>
                    <button class="btn btn-blue">blue</button>
                    <button class="btn btn-green">green</button>
                    <button class="btn btn-orange">orange</button>
                    <button class="btn btn-purple">purple</button>
                    <button class="btn btn-red">red</button>
                </p>
                <p>
                    <button class="btn btn-violet">violet</button>
                    <button class="btn btn-white">white</button>
                    <button class="btn btn-yellow">yellow</button>
                    <button class="btn btn-whitepurple">whitepurple</button>
                    <button class="btn btn-dark">dark</button>
                </p>

            </div>
        </div>
        <!-- /panel -->
    </div>
    <!--                    /col-md-6-->
</div>
<!-- /row -->

<!--row-->
<div class="row">
    <!--                   col-md-6-->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Buttons with Stroke
                        <span class="panel-options">
                            <a href="#" class="panel-refresh">
                                <i class="icon ti-reload"></i>
                            </a>
                            <a href="#" class="panel-minimize">
                                <i class="icon ti-angle-up"></i>
                            </a>
                            <a href="#" class="panel-close">
                                <i class="icon ti-close"></i>
                            </a>
                        </span>
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    <button class="btn btn-default btn-stroke">Default</button>
                    <button class="btn btn-primary btn-stroke">Primary</button>
                    <button class="btn btn-success btn-stroke">Success</button>
                    <button class="btn btn-warning btn-stroke">Warning</button>
                    <button class="btn btn-info btn-stroke">Info</button>
                    <button class="btn btn-danger btn-stroke">Danger</button>
                </p>

            </div>
        </div>
        <!-- /panel -->
    </div>
    <!--                    /col-md-6-->
</div>
<!-- /row -->