<!--row-->
<div class="row">
    <!--                   col-md-6-->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    callout
                        <span class="panel-options">
                            <a href="#" class="panel-refresh">
                                <i class="icon ti-reload"></i>
                            </a>
                            <a href="#" class="panel-minimize">
                                <i class="icon ti-angle-up"></i>
                            </a>
                            <a href="#" class="panel-close">
                                <i class="icon ti-close"></i>
                            </a>
                        </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="callout callout-default">
                    callout callout-default
                </div>
                <div class="callout callout-success">
                    callout  callout-success
                </div>
                <div class="callout callout-info">
                    callout callout-info
                </div>
                <div class="callout callout-danger">
                    callout callout-danger
                </div>
                <div class="callout callout-warning">
                    callout  callout-warning
                </div>
            </div>
        </div>
        <!-- /panel -->
    </div>
    <!--                    /col-md-6-->
</div>
<!-- /row -->
