<div class="animated fadeInUpBig" ng-controller="sweetAlertCtrl">
    <div class="row grid">
        <div class="col-md-6">
            <!-- panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Basic Alert
						<span class="panel-options">
							<a href="#" class="panel-refresh">
                                <i class="icon ti-reload"></i>
                            </a>
							<a href="#" class="panel-minimize">
                                <i class="icon ti-angle-up"></i>
                            </a>
							<a href="#" class="panel-close">
                                <i class="icon ti-close"></i>
                            </a>
						</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-warning btn-lg basic-sweet-1" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'basic-sweet-1']);">Warning</button>

                    <button class="btn btn-success btn-lg basic-sweet-2" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'basic-sweet-2']);">Success</button>

                    <button class="btn btn-info btn-lg basic-sweet-3" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'basic-sweet-3']);">Info</button>

                    <button class="btn btn-danger btn-lg basic-sweet-4" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'basic-sweet-4']);">Danger</button>
                </div>
            </div>
            <!-- /panel -->
        </div>
        <!-- /col-md-6 -->

        <div class="col-md-6">
            <!-- panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Basic Alert with tagline
						<span class="panel-options">
							<a href="#" class="panel-refresh">
                                <i class="icon ti-reload"></i>
                            </a>
							<a href="#" class="panel-minimize">
                                <i class="icon ti-angle-up"></i>
                            </a>
							<a href="#" class="panel-close">
                                <i class="icon ti-close"></i>
                            </a>
						</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-warning btn-lg tagline-sweet-1" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'tagline-sweet-1']);">Warning</button>

                    <button class="btn btn-success btn-lg tagline-sweet-2" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'tagline-sweet-2']);">Success</button>

                    <button class="btn btn-info btn-lg tagline-sweet-3" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'tagline-sweet-3']);">Info</button>

                    <button class="btn btn-danger btn-lg tagline-sweet-4" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'tagline-sweet-4']);">Danger</button>
                </div>
            </div>
            <!-- /panel -->
        </div>
        <!-- /col-md-6 -->
    </div>
    <!-- /row -->

    <div class="row grid">
        <div class="col-md-6">
            <!-- panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Alerts With Icon
						<span class="panel-options">
							<a href="#" class="panel-refresh">
                                <i class="icon ti-reload"></i>
                            </a>
							<a href="#" class="panel-minimize">
                                <i class="icon ti-angle-up"></i>
                            </a>
							<a href="#" class="panel-close">
                                <i class="icon ti-close"></i>
                            </a>
						</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-success btn-lg icon-sweet-1" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'icon-sweet-1']);">Good Job</button>

                    <button class="btn btn-info btn-lg icon-sweet-2" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'icon-sweet-2']);">Heads Up</button>

                    <button class="btn btn-danger btn-lg icon-sweet-3" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'icon-sweet-3']);">Oh Snap</button>

                    <button class="btn btn-warning btn-lg icon-sweet-4" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'icon-sweet-4']);">Warning</button>
                </div>
            </div>
            <!-- /panel -->
        </div>
        <!-- /col-md-6 -->

        <div class="col-md-6">
            <!-- panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Icon Alerts With Confirm Buttons
						<span class="panel-options">
							<a href="#" class="panel-refresh">
                                <i class="icon ti-reload"></i>
                            </a>
							<a href="#" class="panel-minimize">
                                <i class="icon ti-angle-up"></i>
                            </a>
							<a href="#" class="panel-close">
                                <i class="icon ti-close"></i>
                            </a>
						</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-danger btn-lg confirm-sweet-1" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'confirm-sweet-1']);">Oh Snap</button>

                    <button class="btn btn-success btn-lg confirm-sweet-2" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'confirm-sweet-2']);">Good Job</button>

                    <button class="btn btn-info btn-lg confirm-sweet-3" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'confirm-sweet-3']);">Heads Up</button>

                    <button class="btn btn-warning btn-lg confirm-sweet-4" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'confirm-sweet-4']);">Warning</button>
                </div>
            </div>
            <!-- /panel -->
        </div>
        <!-- /col-md-6 -->
    </div>
    <!-- /row -->

    <div class="row grid">
        <div class="col-md-6">
            <!-- panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Advanced Alerts With Icon
						<span class="panel-options">
							<a href="#" class="panel-refresh">
                                <i class="icon ti-reload"></i>
                            </a>
							<a href="#" class="panel-minimize">
                                <i class="icon ti-angle-up"></i>
                            </a>
							<a href="#" class="panel-close">
                                <i class="icon ti-close"></i>
                            </a>
						</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-success btn-lg advanced-sweet-1" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'advanced-sweet-1']);">Good Job</button>

                    <button class="btn btn-info btn-lg advanced-sweet-2" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'advanced-sweet-2']);">Heads Up</button>

                    <button class="btn btn-danger btn-lg advanced-sweet-3" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'advanced-sweet-3']);">Oh Snap</button>

                    <button class="btn btn-warning btn-lg advanced-sweet-4" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'advanced-sweet-4']);">Warning</button>
                </div>
            </div>
            <!-- /panel -->
        </div>
        <!-- /col-md-6 -->

        <div class="col-md-6">
            <!-- panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Alerts With Custom Images
						<span class="panel-options">
							<a href="#" class="panel-refresh">
                                <i class="icon ti-reload"></i>
                            </a>
							<a href="#" class="panel-minimize">
                                <i class="icon ti-angle-up"></i>
                            </a>
							<a href="#" class="panel-close">
                                <i class="icon ti-close"></i>
                            </a>
						</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-danger btn-lg custom-sweet-1" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'custom-sweet-1']);">Oh Snap</button>

                    <button class="btn btn-success btn-lg custom-sweet-2" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'custom-sweet-2']);">Good Job</button>

                    <button class="btn btn-info btn-lg custom-sweet-3" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'custom-sweet-3']);">Heads Up</button>

                    <button class="btn btn-warning btn-lg custom-sweet-4" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'custom-sweet-4']);">Warning</button>
                </div>
            </div>
            <!-- /panel -->
        </div>
        <!-- /col-md-6 -->
    </div>
    <!-- /row -->
</div>