<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">Toaster
                <div class="pull-right">
                    <a href="javascript:;" class="btn btn-xs btn-link panel-minimize">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="javascript:;" class="btn btn-xs btn-link panel-close">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </header>
            <div class="panel-body">
                <div class="row mrg10A">
                    <div class="col-md-4">
                        <div class="control-group">
                            <div class="controls">
                                <label class="control-label" for="title">Title</label>
                                <input id="title" type="text" class="input-large" placeholder="Enter a title ..." />
                                <label class="control-label" for="message">Message</label>
                                <textarea class="input-large" id="message" rows="3" placeholder="Enter a message ..."></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox" for="closeButton">
                                    <input id="closeButton" type="checkbox" value="checked" class="input-mini" />Close Button
                                </label>
                            </div>
                            <div class="controls">
                                <label class="checkbox" for="addBehaviorOnToastClick">
                                    <input id="addBehaviorOnToastClick" type="checkbox" value="checked" class="input-mini" />Add behavior on toast click
                                </label>
                            </div>
                            <div class="controls">
                                <label class="checkbox" for="debugInfo">
                                    <input id="debugInfo" type="checkbox" value="checked" class="input-mini" />Debug
                                </label>
                            </div>
                            <div class="controls">
                                <label class="checkbox" for="progressBar">
                                    <input id="progressBar" type="checkbox" value="checked" class="input-mini" />Progress Bar
                                </label>
                            </div>
                            <div class="controls">
                                <label class="checkbox" for="preventDuplicates">
                                    <input id="preventDuplicates" type="checkbox" value="checked" class="input-mini" />Prevent Duplicates
                                </label>
                            </div>
                            <div class="controls">
                                <label class="checkbox" for="addClear">
                                    <input id="addClear" type="checkbox" value="checked" class="input-mini" />Add button to force clearing a toast, ignoring focus
                                </label>
                            </div>
                            <div class="controls">
                                <label class="checkbox" for="newestOnTop">
                                    <input id="newestOnTop" type="checkbox" value="checked" class="input-mini" />Newest on top
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="control-group" id="toastTypeGroup">
                            <div class="controls">
                                <label>Toast Type</label>
                                <label class="radio">
                                    <input type="radio" name="toasts" value="success" checked />Success
                                </label>
                                <label class="radio">
                                    <input type="radio" name="toasts" value="info" />Info
                                </label>
                                <label class="radio">
                                    <input type="radio" name="toasts" value="warning" />Warning
                                </label>
                                <label class="radio">
                                    <input type="radio" name="toasts" value="error" />Error
                                </label>
                            </div>
                        </div>
                        <div class="control-group" id="positionGroup">
                            <div class="controls">
                                <label>Position</label>
                                <label class="radio">
                                    <input type="radio" name="positions" value="toast-top-right" checked />Top Right
                                </label>
                                <label class="radio">
                                    <input type="radio" name="positions" value="toast-bottom-right" />Bottom Right
                                </label>
                                <label class="radio">
                                    <input type="radio" name="positions" value="toast-bottom-left" />Bottom Left
                                </label>
                                <label class="radio">
                                    <input type="radio" name="positions" value="toast-top-left" />Top Left
                                </label>
                                <label class="radio">
                                    <input type="radio" name="positions" value="toast-top-full-width" />Top Full Width
                                </label>
                                <label class="radio">
                                    <input type="radio" name="positions" value="toast-bottom-full-width" />Bottom Full Width
                                </label>
                                <label class="radio">
                                    <input type="radio" name="positions" value="toast-top-center" />Top Center
                                </label>
                                <label class="radio">
                                    <input type="radio" name="positions" value="toast-bottom-center" />Bottom Center
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="control-group">
                            <div class="controls">
                                <label class="control-label" for="showEasing">Show Easing</label>
                                <input id="showEasing" type="text" placeholder="swing, linear" class="input-mini" value="swing" />

                                <label class="control-label" for="hideEasing">Hide Easing</label>
                                <input id="hideEasing" type="text" placeholder="swing, linear" class="input-mini" value="linear" />

                                <label class="control-label" for="showMethod">Show Method</label>
                                <input id="showMethod" type="text" placeholder="show, fadeIn, slideDown" class="input-mini" value="fadeIn" />

                                <label class="control-label" for="hideMethod">Hide Method</label>
                                <input id="hideMethod" type="text" placeholder="hide, fadeOut, slideUp" class="input-mini" value="fadeOut" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="control-group">
                            <div class="controls">
                                <label class="control-label" for="showDuration">Show Duration</label>
                                <input id="showDuration" type="text" placeholder="ms" class="input-mini" value="300" />

                                <label class="control-label" for="hideDuration">Hide Duration</label>
                                <input id="hideDuration" type="text" placeholder="ms" class="input-mini" value="1000" />

                                <label class="control-label" for="timeOut">Time out</label>
                                <input id="timeOut" type="text" placeholder="ms" class="input-mini" value="5000" />

                                <label class="control-label" for="extendedTimeOut">Extended time out</label>
                                <input id="extendedTimeOut" type="text" placeholder="ms" class="input-mini" value="1000" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary" id="showtoast">Show Toast</button>
                    <button type="button" class="btn btn-danger" id="cleartoasts">Clear Toasts</button>
                    <button type="button" class="btn btn-danger" id="clearlasttoast">Clear Last Toast</button>
                </div>

                <div class="row" style='margin-top: 25px;'>
                    <pre id='toastrOptions'></pre>
                </div>
            </div>
        </div>
    </div>
</div>
