<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">Blank
                <div class="pull-right">
                    <a href="javascript:;" class="btn btn-xs btn-link panel-minimize">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="javascript:;" class="btn btn-xs btn-link panel-refresh">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a href="javascript:;" class="btn btn-xs btn-link panel-close">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </header>
            <div class="panel-body">
                Blank
            </div>
        </div>
    </div>
</div>