<!-- Header -->
<nav class="header-site">
    <div class="container-fluid" id="page-header">
        <!-- Page title and breadcrumb navigation -->
        <div class="page-title">
            <h4>
                <span>{{pageTitle}}</span>
            </h4>
            <!--<ol class="breadcrumb">
                <li><span class="fa fa-home"></span> <a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li><a href="#">Library</a></li>
            </ol>-->
            <ol class="breadcrumb">
                <li>
                    <span class="fa fa-home"></span> <a ui-sref="ui.blank">首页</a>
                </li>
                <li ng-repeat="link in links">
                    <a ui-sref="{{link.url}}">{{link.name}}</a>
                </li>
            </ol>
        </div>
        <!-- /Page title and breadcrumb navigation -->
        <!-- Header navigation / icons -->
        <ul class="header-nav navbar-right">
            <!-- Messages -->
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-envelope-o"></span></a>
                <span class="badge">3</span>
                <div class="dropdown-menu panel panel-messages dropdown-arrow pull-right">
                    <div class="panel-heading">MESSAGES <span class="badge pull-right bg-orange">NEW</span></div>
                    <div class="panel-body scrollbox">
                        <ul class="chat">
                            <li class="left clearfix">
                                <a href="javascript:;">

                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jon Bateman</strong>
                                            <small class="pull-right text-muted">
                                                <span class="fa fa-clock"></span>12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="left clearfix">
                                <a href="javascript:;">

                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Sam Smalls</strong>
                                            <small class="pull-right text-muted">
                                                <span class="fa fa-clock"></span>12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="left clearfix">
                                <a href="javascript:;">
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">The Flash</strong>
                                            <small class="pull-right text-muted">
                                                <span class="fa fa-clock"></span>12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="left clearfix">
                                <a href="javascript:;">
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Bruce Nolan</strong>
                                            <small class="pull-right text-muted">
                                                <span class="fa fa-time"></span>12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <footer class="panel-footer text-center">
                        <a href="javascript:;">View all messages</a>
                    </footer>
                </div>
            </li>
            <!-- /Messages -->

            <!-- Notifications -->
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-bell-o"></span></a>
                <div class="dropdown-menu panel panel-notifications dropdown-arrow pull-right">
                    <div class="panel-heading">NOTIFICATIONS</div>
                    <div class="panel-body scrollbox">
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <div class="clearfix">
														<span class="pull-left">
															<i class="typcn typcn-heart bg-red"></i>
															New Customer
														</span>
                                        <span class="badge badge-gray pull-right">2</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <div class="clearfix">
														<span class="pull-left">
															<i class="typcn typcn-user bg-blue"></i>
															New Order
														</span>
                                        <span class="badge badge-gray pull-right">6</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <div class="clearfix">
														<span class="pull-left">
															<i class="typcn typcn-image bg-green"></i>

														</span>
                                        <span class="badge badge-gray pull-right">125</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <div class="clearfix">
														<span class="pull-left">
															<i class="typcn typcn-heart bg-orange"></i>
															New likes
														</span>
                                        <span class="badge badge-gray pull-right">22</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <div class="clearfix">
														<span class="pull-left">
															<i class="typcn typcn-user bg-purple"></i>
															New users
														</span>
                                        <span class="badge badge-gray pull-right">6</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <div class="clearfix">
														<span class="pull-left">
															<i class="typcn typcn-image bg-yellow"></i>
															New pictures
														</span>
                                        <span class="badge badge-gray pull-right">125</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- /Notifications -->

            <!-- Profile -->
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span></a>
                <ul class="dropdown-menu dropdown-arrow">
                    <li><a class="text-violet">Edgar Zhang</a></li>
                    <li class="divider"></li>
                    <li><a href="#/home/profile/{{loginUser.userId}}"><span class="fa fa-edit"></span> 个人资料</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;" ng-click="logout()"><span class="fa fa-sign-out"></span> 退出</a></li>
                </ul>
            </li>
            <!-- /Profile -->

        </ul>
        <!-- /Header navigation / icons -->
    </div>
</nav>
<!-- /Header -->