<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Direwolves</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/metisMenu/2.7.0/metisMenu.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
</head>
<body>
<div class="page-container">
    {{#block "templates/shared/sidebar"}}
    {{/block}}

    <div>
        <!--BEGIN TO TOP--><a id="totop" href="javascript:;">
        <i class="fa fa-angle-up"></i>
    </a><!--END BACK TO TOP-->
    </div>

    <!-- Content -->
    <div id="content">
        {{#block "templates/shared/navbar"}}
        {{/block}}

        <!-- Content start -->
        <div class="container-fluid">
            {{#block "templates/shared/blank"}}
            {{/block}}
        </div>
    </div>
    <!-- /Content -->
</div>

<script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/metisMenu/2.7.0/metisMenu.min.js"></script>
<script src="//cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>

</body>
</html>