<div class="animated fadeInUpBig">
	<!-- *** Infobox 1 *** -->
    <div class="paneltype-heading">Infobox Modal One</div>
    <!--row-->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stats">
                <div class="left">
                    <h3 class="text-blue">6,600</h3>
                    <h4>Monthly User</h4>
                </div>
                <div class="right bg-blue">
                    <i class="fa fa-heartbeat"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stats">
                <div class="left">
                    <h3 class="text-green">6,600</h3>
                    <h4>peoples in circles</h4>
                </div>
                <div class="right bg-green">
                    <i class="fa fa-bell-slash"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stats">
                <div class="left">
                    <h3 class="text-red">6,600</h3>
                    <h4>monthly notifications</h4>
                </div>
                <div class="right bg-red">
                    <i class="fa fa-bell"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stats">
                <div class="left">
                    <h3 class="text-orange">6,600</h3>
                    <h4>monthly targets</h4>
                </div>
                <div class="right bg-orange">
                    <i class="fa fa-line-chart"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <!-- *** Infobox 2 *** -->
    <div class="paneltype-heading">Infobox Modal Two</div>
    <!--row-->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-stats">
                <div class="right">
                    <h3 class="text-blue">6,600</h3>
                    <h4>Monthly User</h4>
                </div>
                <div class="left bg-blue">
                    <i class="ion ion-ios-heart-outline"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-stats">
                <div class="right">
                    <h3 class="text-green">6,600</h3>
                    <h4>peoples in circles</h4>
                </div>
                <div class="left bg-green">
                    <i class="ion ion-ios-color-filter-outline"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-stats">
                <div class="right">
                    <h3 class="text-red">6,600</h3>
                    <h4>monthly notifications</h4>
                </div>
                <div class="left bg-red">
                    <i class="ion ion-ios-alarm-outline"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-stats">
                <div class="right">
                    <h3 class="text-orange">6,600</h3>
                    <h4>monthly targets</h4>
                </div>
                <div class="left bg-orange">
                    <i class="ion ion-ios-analytics-outline"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->

    <!-- *** Infobox 4 *** -->
    <div class="paneltype-heading">Infobox Modal Four</div>
    <!--row-->
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
                <ul class="list-inline list-unstyled">
                    <li><i class="ti-signal primary-info"></i></li>
                    <li>Monthly Sales <p>For Sony Mobile Coropration</p></li>
                    <li class="info-value">513</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
                <ul class="list-inline list-unstyled">
                    <li><i class="ti-wand red-info"></i></li>
                    <li>Weekly Sales <p>For Samsung</p></li>
                    <li class="info-value">1235</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
                <ul class="list-inline list-unstyled">
                    <li><i class="ti-paint-bucket orange-info"></i></li>
                    <li>Quaterly Sales <p>For Apple</p></li>
                    <li class="info-value">6089</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
                <ul class="list-inline list-unstyled">
                    <li><i class="ti-comments-smiley green-info"></i></li>
                    <li>Yearly Sales <p>For Motorola</p></li>
                    <li class="info-value">5689</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- row -->
    <!-- *** Infobox 5 *** -->
    <div class="paneltype-heading">Infobox Modal Five</div>
    <!--row-->
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-five bg-orange">
                <div class="logo"><i class="fa fa-film"></i></div>
                250 Files
                <p>Videos</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-five bg-red">
                <div class="logo"><i class="fa fa-video-camera"></i></div>
                AJI3437KAY
                <p>Recipt Number</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-five bg-green">
                <div class="logo"><i class="fa fa-file-audio-o"></i></div>
                260 , 95
                <p>Images, Videos</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-five bg-blue">
                <div class="logo"><i class="fa fa-desktop"></i></div>
                5.3 TB
                <p>Storage</p>
            </div>
        </div>
    </div>
    <!-- row -->
    <!-- *** Infobox 6 *** -->
    <div class="paneltype-heading">Infobox Modal Six</div>
    <!--row-->
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-six">
                <div class="info-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ab consectetur itaque aliquid ullam eligendi maiores esse odio! Ipsum iure autem pariatur ullam at. Quis provident, nihil consequuntur aliquam ea.
                </div>
                <div class="info-bottom primary-bottom">
                    <ul class="list-inline list-unstyled">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-six">
                <div class="info-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ab consectetur itaque aliquid ullam eligendi maiores esse odio! Ipsum iure autem pariatur ullam at. Quis provident, nihil consequuntur aliquam ea.
                </div>
                <div class="info-bottom red-bottom">
                    <ul class="list-inline list-unstyled">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-six">
                <div class="info-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ab consectetur itaque aliquid ullam eligendi maiores esse odio! Ipsum iure autem pariatur ullam at. Quis provident, nihil consequuntur aliquam ea.
                </div>
                <div class="info-bottom orange-bottom">
                    <ul class="list-inline list-unstyled">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-six">
                <div class="info-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ab consectetur itaque aliquid ullam eligendi maiores esse odio! Ipsum iure autem pariatur ullam at. Quis provident, nihil consequuntur aliquam ea.
                </div>
                <div class="info-bottom green-bottom">
                    <ul class="list-inline list-unstyled">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <!-- *** Infobox 7 *** -->
    <div class="paneltype-heading">Infobox Modal Seven</div>
    <!--row-->
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-seven bg-green">
                <div class="logo-seven"><i class="fa fa-qq"></i></div>
                5.3 TB
                <p>Storage</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-seven bg-blue">
                <div class="logo-seven"><i class="fa fa-wechat"></i></div>
                268
                <p>Videos</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-seven bg-red">
                <div class="logo-seven"><i class="fa fa-weibo"></i></div>
                900
                <p>Audios</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-seven bg-orange">
                <div class="logo-seven"><i class="fa fa-youtube"></i></div>
                68
                <p>Documents</p>
            </div>
        </div>
    </div>
    <!-- row -->
</div>